<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Education Portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar fixed-navbar navbar-expand-lg navbar-dark" id="main-menu">
        <div class="container">
            <a class="navbar-brand" href="/">Education Portal</a>
            <button class="navbar-toggler navbar-toggler-right" 
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#navigation-top" 
                    aria-controls="navigation-top" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navigation-top">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="#header">Home</a>
                    <a class="nav-item nav-link" href="#courses">Courses</a>
                    <a class="nav-item nav-link" href="#gallery">Gallery</a>
                    <a class="nav-item nav-link" href="#get-started">Start Now</a>
                    <a class="nav-item nav-link" href="#contact-us">Contact Us</a>
                </div>
            </div>    
        </div>
    </nav>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-ajax")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
