@model HomeViewModel.SignInViewModel

@using (Ajax.BeginForm("login", "account", new AjaxOptions {
    HttpMethod = "POST",
    OnBegin = "$('#login-btn').prop('disabled', true).text('Wait...')",
    OnComplete = "$('#login-btn').prop('disabled', false).text('Login')",
    OnFailure = "onError(error)",
    OnSuccess = "reload"
}))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Login, new { @class = "sr-only" })
        @Html.EditorFor(m => m.Login, new { htmlAttributes = new { @class = "form-control", placeholder = "Email...", id = "signin-login" } })
        @Html.ValidationMessageFor(m => m.Login)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
        @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password...", id = "signin-password" } })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-transparent col-sm-12" id="login-btn">Login</button>
    </div>
}
